asgiref==3.7.2
certifi==2023.7.22
charset-normalizer==3.3.0
Django==4.2.6
gunicorn==21.2.0
idna==3.4
jmespath==1.0.1
packaging==23.2
pexpect==4.8.0
Pillow==10.0.1
ptyprocess==0.7.0
requests==2.31.0
sqlparse==0.4.4
Strip==0.0.1.dev14
stripe==6.7.0
typing_extensions==4.8.0
urllib3==2.0.6
whitenoise==6.5.0
